<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>news</title>
	<meta name="author" content="AJ">
	<!-- Date: 2010-11-14 -->
</head>
<body>
	<h1>News from My Organization</h1>
	<p>This is the news page where the news goes...</p>
	{% for news_item in news_show %}
		{% if news_item.publish_date <= nows and news_item.unpublish_date >= nows %}
			{% if news_item.title %}
				<h2>{{news_item.title}}</h2>
			{% endif %}
			<p>{{news_item.body}}</p>
			<p>{{news_item.create_date}}</p>
		{% endif %}
	{% endfor %}
	<p>Right here, right now: {{nows}}</p>
	<p>{% now "jS F Y H:i" %}</p> 
</body>
</html>
